block content 
    div.container 
        span Name: #{game.name}
        span Category: #{game.category.name}
        span Release date: #{game.release_date}
        span Rating: #{game.rating}
        span Price: #{game.price}$
        span Synopsise: #{game.synopsis}